body {
  font-family: Arial, sans-serif;
  padding: 1.25rem;
  background-color: #e4e8f6;
}
header{
    text-align: left;
    margin-top: 32px;
    margin-bottom: 16px;
    background-color: #3f5caece;
    width: 90%;
    color: #fff;

      padding: 28.8px;
  border-radius: .75rem;
  box-shadow: 0 .25rem .625rem rgba(0,0,0,0.1);

}
header h1{
    font-size: 1.2rem;

}
.form-section{
width: 90%;
    background-color: #fff;
      padding: 1.875rem;
  border-radius: .75rem;
  box-shadow: 0 .25rem .625rem rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 2.5rem;
}
#form-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
row-gap: 32px;
column-gap: 1.25rem;
  overflow: hidden;
}

.form-section h2{
    font-size: 17.6px;
    font-weight: lighter;
      color:  #1f1b4bce;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input-group label{  
    color:   #3f5daece;
}
input{
    margin-bottom: 16px;
    margin-top: 16px;
     padding:9.6px;
     border: .0625rem solid #2916fd4a;
       
     border-radius: 4.8px;
     cursor: pointer;
   
}
textarea{
    height: 160px;
       border: .0625rem solid #2916fd4a;
       border-radius:  4.8px;
}
.date-container {
width: 100%;

}
.date-container #time, #date{
   
    margin-right: .3125rem;
}
#create-button{
    width: 160px;
    padding:12.8px;
    margin-top: 9.6px;
    border-radius: 4.8px;
    color: white;
    font-size: 14.4px;
    border: none;
    background-color:   #475bb5;
    cursor: pointer;
}

.bookings-section{
   width: 90%;
    background-color: #fff;
    padding: 32px;
      padding: 1.875rem;
  border-radius: .75rem;
  box-shadow: 0 .25rem .625rem rgba(21, 15, 199, 0.1);
  margin-top: 32px;
}
.bookings-section h2{
    font-size: medium;
    font-weight: medium;
     color:    #3f5dae;
  
}


table{

    width: 100%;
   border-collapse: collapse;
   margin-top: .625rem;
   text-align: center;
}

th { 
    text-align: left;
     padding: .75rem; 
     color:  #3f5daeb6;

     font-size: 0.9rem; 
   border-bottom: .12rem 
     solid #edf0f4c9; 
}

td{
  padding: .9375rem .75rem;
     border-bottom: .12rem 
     solid #edf0f4c9; 
     font-size: 0.89rem;
     font-weight:lighter;
}


.edit-btn{
       padding:0.8rem 2.4rem;
       border-radius: 0.2rem;
       border: none;
        background-color:  #0e9ed7;
        color: #fff;
        font-size: 0.9rem;
        cursor: pointer;
}
.delete-btn{
    padding:0.8rem 2.4rem;
       border-radius: 0.3rem;
       border:none;
       background-color: #db2424;
        color: #fff;
        font-size: 0.9rem;
        cursor: pointer;
}


@media (max-width: 599px) {
  body {
width:100%;
  padding: 0;
}
header{
    text-align: center;
    width: 100%;
      padding:0.5rem;
}
.form-section{
width: 100%;
   padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: left;

}
#form-container{
display:grid; 
grid-template-columns: repeat(1, 1fr);
column-gap: 0;
justify-content: center;
text-align: left;


}

input{
     padding:0.5rem;
     width: 16rem;
}
textarea{
    height: 160px;
      width: 16rem;
}
.date-container {
width: 16rem;

}
.date-container #time, #date{
width: 16rem;
margin-right: 0;
}
#create-button{
    width: 15rem;
    padding:12.8px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.bookings-section{
   width: 100%;
    padding: 32px;
      padding: 1rem;
      overflow-x: hidden;
 display: flex;
 flex-direction: column;
}



table thead {
    display: none;
  }

  tr{
    border:1px solid #5c44c75f ;
    border-radius: 0.4rem;
  margin-bottom: 2rem;

     
  }
 table, tbody, tr, td {
display: block;
    width: 100%;
    text-align: left;
    
  }
  td{
    margin-top: 1rem;
    
  }
  table #appointments .btn-container{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1.5rem;
    
  }
}

